<!-- Services Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About the lab</h2>

                <!--<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">Who are we?</h4>

                <p class="text-muted" style="text-align: justify;">We are an interdisciplinary research lab that studies
                    the mechanisms underlying
                    the coordination of large animal groups, such as ant colonies or human crowds, and their
                    applications to complex problems such the organization of pedestrian traffic or the control of
                    robotic swarms. We study how information is exchanged and transformed during interactions between
                    the members of a group, and how this can lead to the emergence of "intelligent" group behaviors.
                    In short, we study Swarm Intelligence.</p>
            </div>
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-question fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">What is Swarm Intelligence?</h4>

                <p class="text-muted" style="text-align: justify;">Have you ever wondered why a colony of ants, all with
                    tiny brains, can achieve
                    near perfect coordination of their traffic, while human beings with their hundreds of billions
                    of neurons and sophisticated technologies still find themselves in traffic jams on a daily basis?
                    This is what we study in when we look at Swarm Intelligence (and Swarm Stupidity), where the many
                    interactions between members of a group can lead to extraordinarily efficient solutions or
                    snowballing catastrophes.</p>
            </div>
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-newspaper-o fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">Latest news</h4>
                <ul class="posts">
                    {% for post in site.posts limit:10 %}
                    <li style="text-align: justify;">
                        <span>{{ post.date | date_to_string }}</span> &raquo;
                        <a href="{{ BASE_PATH }}{{ post.url }}">
                            {{ post.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>