.navbar-default .navbar-brand {
    font-family: "Ubuntu", "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #{{ site.color.primary }};
}

.navbar-default .nav li a {
    font-size: 90%;
    padding-left: 12px;
    padding-right: 12px;
    color: #{{ site.color.secondary-dark }};
}

@media(min-width:768px) {
    header .intro-text {
        padding-top: 200px;
    }
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.entry {
    width: 90%;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

.lab-name {
    font-family: "Ubuntu", "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: normal;
    text-transform: capitalize;
    font-weight: 500;
    color: #{{ site.color.secondary-dark }};
}

.intro-lead-in {
    color: #{{ site.color.secondary-dark }};
}

@media(min-width:768px) {
    #blog .intro-text {
        padding-top: 160px;
        padding-bottom: 100px;
    }
}

section.blog {
    padding-top: 50px;
    padding-bottom: 50px;
}

section.post {
    padding-bottom: 10px;
}

div.bg-light-gray {
    background-color: #f7f7f7;
}

div.bg-white {
    background-color: #ffffff;
}

div.bg-darkest-gray {
    background-color: #222;
}

img.wrap-around-left {
    float: left;
    padding: 5px 10px 5px 0px;
}

img.wrap-around-right {
    float: right;
    padding: 5px 0px 5px 10px;
}

.dropdown-menu a {
    color: #000 !important;
}

.dropdown-menu a:hover {
    color: #fff !important;
}

ul.social-buttons li a.fa-fw {
    background-color:#fff;
    pointer-events: none;
    cursor: default;
}
