.navbar-default .navbar-brand {
    font-family: "Avenir Next", "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #{{ site.color.primary }};
}

.navbar-default .nav li a {
    font-size: 90%;
    padding-left: 12px;
    padding-right: 12px;
    color: #{{ site.color.secondary-dark }};
}

@media(min-width:768px) {
    header .intro-text {
        padding-top: 200px;
    }
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.lab-name {
    font-family: "Avenir Next", "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: normal;
    text-transform: capitalize;
    font-weight: 600;
    color: #{{ site.color.secondary-dark }};
}

.intro-lead-in {
    color: #{{ site.color.secondary-dark }};
}